@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
  outline: none;
}

#root {
  justify-content: center;
  align-content: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1366px;
  margin: auto;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
